.download
    .container 
        .title.download__title <b>скачайте каталог и прайс-лист, актуальные на 2022 год</b>

        .btn__center 
            a(href="#download" data-fancybox).btn.download__btn скачать каталог и прайс-лист