.popup#call
    form.popup__form
        input(type="hidden", name="form" value="Заказать бесплатный звонок")

        .popup__title Заполните форму
        .popup__subtitle Мы свяжемся с вами и ответим на все вопросы
        
        input(type="text" placeholder="Введите ваш номер" name="phone").input.mask
        button(type="submit").btn.popup__btn Заказать бесплатный звонок

        .popup__politic Заполняя форму, вы соглашаетесь <br>с <a href="/policy.pdf" target="_blank">политикой конфиденциальности</a>


.popup#download
    form.popup__form
        input(type="hidden", name="form" value="Скачать каталог и прайс-лист")
        .popup__title Заполните форму
        .popup__subtitle Мы свяжемся с вами и ответим на все вопросы
        
        input(type="text" placeholder="Введите ваш номер" name="phone").input.mask
        button(type="submit").btn.popup__btn скачать каталог и прайс-лист

        .popup__politic Заполняя форму, вы соглашаетесь <br>с <a href="/policy.pdf" target="_blank">политикой конфиденциальности</a>


.popup#house
    form.popup__form
        input(type="hidden", name="form" value="Получить коммерческое предложение")
        .popup__title Заполните форму
        .popup__subtitle Мы свяжемся с вами и ответим на все вопросы
        
        input(type="text" placeholder="Введите ваш номер" name="phone").input.mask
        input(type="hidden", name="house" value="")
        button(type="submit").btn.popup__btn Получить Комм. предложение

        .popup__politic Заполняя форму, вы соглашаетесь <br>с <a href="/policy.pdf" target="_blank">политикой конфиденциальности</a>


.error
    .error__text 


.popup.comeback#comeback
    .comeback__title.comeback__title--small не спешите уходить!
    .comeback__title получите <span>бонусы</span>:

    .comeback__box 
        .comeback__box-col
            .comeback__item 
                .comeback__item-icon
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.4733 11.5266L12.4733 1.52663C12.3484 1.40246 12.1795 1.33276 12.0034 1.33276C11.8272 1.33276 11.6583 1.40246 11.5334 1.52663L1.53335 11.5266C1.42413 11.6542 1.36706 11.8182 1.37354 11.986C1.38002 12.1538 1.44958 12.3129 1.56831 12.4317C1.68704 12.5504 1.8462 12.62 2.01398 12.6264C2.18177 12.6329 2.34582 12.5758 2.47335 12.4666L12 2.93996L21.5267 12.4733C21.6542 12.5825 21.8183 12.6396 21.9861 12.6331C22.1538 12.6266 22.313 12.5571 22.4317 12.4383C22.5505 12.3196 22.62 12.1604 22.6265 11.9927C22.633 11.8249 22.5759 11.6608 22.4667 11.5333L22.4733 11.5266Z" fill="#27C353"/>
                    <path d="M18.6667 21.3334H15.3333V14.6668H8.66667V21.3334H5.33333V12.0001L4 13.3334V21.3334C4 21.687 4.14048 22.0262 4.39052 22.2762C4.64057 22.5263 4.97971 22.6668 5.33333 22.6668H10V16.0001H14V22.6668H18.6667C19.0203 22.6668 19.3594 22.5263 19.6095 22.2762C19.8595 22.0262 20 21.687 20 21.3334V13.1734L18.6667 11.8401V21.3334Z" fill="#27C353"/>
                    </svg>

                .comeback__item-text фундамент
            
            .comeback__item 
                .comeback__item-icon
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_581_295)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.82875 6.15088L10.2075 6.53175C10.4791 6.60677 10.7339 6.73472 10.9573 6.9083C11.1807 7.08187 11.3682 7.29768 11.5093 7.54338C11.6503 7.78908 11.7421 8.05987 11.7794 8.34029C11.8166 8.6207 11.7987 8.90525 11.7265 9.17767L11.0691 11.6569L12.1431 13.5276C12.428 14.0236 12.5062 14.6113 12.3607 15.1613L10.8632 20.8116C10.6202 21.7283 10.0241 22.5071 9.20602 22.9768C8.38792 23.4465 7.41479 23.5685 6.50064 23.3162L3.74195 22.5551C2.82767 22.3026 2.04734 21.6961 1.57261 20.8692C1.09787 20.0422 0.967634 19.0626 1.21054 18.1457L2.70799 12.4953C2.85364 11.9452 3.21122 11.4778 3.70208 11.1959L5.55325 10.1331L6.21058 7.65394C6.28273 7.3815 6.40769 7.12651 6.57832 6.90352C6.74895 6.68054 6.96191 6.49393 7.20503 6.35436C7.44816 6.21478 7.71669 6.12497 7.99529 6.09006C8.27389 6.05515 8.5571 6.07582 8.82875 6.15088ZM8.46183 7.5339C8.279 7.48343 8.08437 7.50784 7.92075 7.60177C7.75713 7.69571 7.63791 7.85147 7.58931 8.03481L7.03985 10.1088L9.79766 10.8712L10.3474 8.79618C10.3959 8.61283 10.3699 8.41694 10.2749 8.25158C10.18 8.08623 10.024 7.96495 9.84117 7.91442L8.46183 7.5339ZM6.26925 11.3803L4.41808 12.4431C4.25446 12.537 4.13527 12.6928 4.08672 12.8762L2.5905 18.5258C2.5183 18.7983 2.50032 19.0828 2.53759 19.3632C2.57485 19.6436 2.66663 19.9144 2.80769 20.1601C2.94874 20.4058 3.13631 20.6216 3.35967 20.7952C3.58304 20.9688 3.83783 21.0967 4.10949 21.1718L6.86756 21.9331C7.41605 22.0846 7.99993 22.0113 8.49079 21.7295C8.98166 21.4477 9.33932 20.9804 9.48512 20.4304L10.982 14.7805C11.0306 14.5971 11.0046 14.4012 10.9096 14.2358L9.83565 12.365L6.26925 11.3803Z" fill="#27C353"/>
                    <path d="M16.0386 6.77676L16.0087 6.89339L16.4891 6.90698L16.0386 6.77676Z" fill="#27C353"/>
                    <path d="M16.0386 6.77676L16.4907 6.9069L16.6542 6.91167L16.6536 6.95348L13.0853 6.81147L13.0582 8.24482L16.6272 8.34502C16.7225 8.34771 16.8173 8.33114 16.9059 8.29629C16.9945 8.26144 17.075 8.20902 17.1428 8.14213C17.2106 8.07523 17.2642 7.99523 17.3005 7.90685C17.3368 7.81847 17.355 7.72351 17.354 7.62759C17.3525 7.47343 17.3731 7.32065 17.4134 7.17229C17.5297 6.74941 17.8038 6.38811 18.1786 6.16488C18.5535 5.94166 19.0007 5.8726 19.4277 5.97201C19.8517 6.07023 20.2229 6.32937 20.4634 6.69505C20.7039 7.06074 20.7951 7.50458 20.7178 7.93346C20.6895 8.09078 20.7145 8.25357 20.7888 8.3959C20.863 8.53823 20.9823 8.65191 21.1276 8.71882C21.6668 8.96671 22.1015 9.39972 22.3531 9.93942C22.6047 10.4791 22.6565 11.0898 22.4991 11.6609C22.3409 12.2354 21.9844 12.7329 21.4931 13.0649C21.0019 13.3969 20.4078 13.5417 19.8167 13.4736C19.6594 13.4555 19.5012 13.4905 19.3667 13.5729C19.2323 13.6554 19.1293 13.7806 19.074 13.929C18.9912 14.151 18.8631 14.3528 18.698 14.5216C18.5328 14.6904 18.3342 14.8223 18.1148 14.9091C17.8959 14.9959 17.661 15.0359 17.4251 15.0266C17.1892 15.0174 16.9573 14.959 16.7441 14.8553C16.5322 14.7515 16.3439 14.6044 16.1914 14.4235C16.0388 14.2426 15.9253 14.032 15.8583 13.8051C15.7913 13.5782 15.7722 13.3401 15.8022 13.1062C15.8323 12.8723 15.9108 12.6478 16.0327 12.4472C16.0822 12.3651 16.1146 12.2737 16.1281 12.1785C16.1416 12.0832 16.1358 11.986 16.1111 11.8927C16.0864 11.7994 16.0433 11.7119 15.9843 11.6354C15.9254 11.5589 15.8519 11.495 15.7681 11.4474L12.6539 9.67997L11.9614 10.9274L14.5061 12.3718C14.3197 12.9663 14.3149 13.6048 14.4922 14.2054C14.6789 14.8371 15.0586 15.3953 15.5774 15.8003C16.0961 16.2052 16.7273 16.4363 17.3809 16.4605C17.9445 16.4828 18.5023 16.3518 18.9953 16.0814C19.4884 15.811 19.8986 15.4113 20.1827 14.9242C21.0264 14.9096 21.8408 14.6228 22.5056 14.1061C23.1704 13.5893 23.6505 12.87 23.8751 12.0541C24.0994 11.24 24.0547 10.3724 23.7476 9.58116C23.4405 8.78993 22.8876 8.11767 22.1717 7.66506C22.1762 6.95104 21.9369 6.25485 21.494 5.69259C21.051 5.13033 20.431 4.73598 19.7375 4.57532C18.9534 4.39279 18.1323 4.51947 17.4439 4.9292C16.7555 5.33892 16.2524 6.00035 16.0386 6.77676Z" fill="#27C353"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_581_295">
                    <rect width="24" height="24" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>

                .comeback__item-text антисепитирование каркаса
        
        .comeback__box-col
            .comeback__item 
                .comeback__item-icon
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.9909 8.19016L20.6284 4.6101C20.6847 4.2936 20.6143 3.96791 20.4326 3.70466C20.2509 3.44142 19.9728 3.26219 19.6595 3.2064L6.07359 0.787489C5.76027 0.731703 5.4374 0.80393 5.176 0.988281C4.9146 1.17263 4.73609 1.45401 4.67974 1.7705L4.04232 5.35056C3.98597 5.66706 4.05639 5.99276 4.2381 6.256C4.4198 6.51924 4.69791 6.69847 5.01123 6.75426L18.5971 9.17317C18.9104 9.22896 19.2333 9.15673 19.4947 8.97238C19.7561 8.78803 19.9346 8.50666 19.9909 8.19016ZM5.86112 1.98084L19.447 4.39976L18.8096 7.97982L5.2237 5.5609L5.86112 1.98084Z" fill="#27C353"/>
                    <path d="M21.5973 6.01379L21.0066 5.90862L20.3383 9.66172L12.0307 10.7988C11.8992 10.8161 11.7769 10.8767 11.6829 10.9713C11.5889 11.066 11.5284 11.1892 11.511 11.3219L11.3558 12.193L10.1745 11.9827L8.68716 20.3362C8.63081 20.6527 8.70123 20.9784 8.88294 21.2416C9.06464 21.5049 9.34275 21.6841 9.65607 21.7399L10.8374 21.9502C11.1508 22.006 11.4736 21.9338 11.735 21.7494C11.9964 21.5651 12.1749 21.2837 12.2313 20.9672L13.7186 12.6137L12.5372 12.4034L12.6148 11.9678L20.9246 10.8188C21.0561 10.8015 21.1783 10.7409 21.2724 10.6463C21.3664 10.5516 21.4268 10.4284 21.4443 10.2957L22.0817 6.71564C22.1099 6.55739 22.0747 6.39454 21.9838 6.26292C21.893 6.1313 21.7539 6.04168 21.5973 6.01379ZM11.0499 20.7569L9.86854 20.5465L11.1434 13.3864L12.3248 13.5967L11.0499 20.7569Z" fill="#27C353"/>
                    </svg>

                .comeback__item-text покраска фасада
            
            .comeback__item 
                .comeback__item-icon
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.2737 18.1863L20.4379 16.9112L19.0754 16.7357C19.0433 16.3258 18.9309 15.9255 18.7446 15.5569L19.8332 14.7313L19.0323 13.7117L17.9437 14.5373C17.628 14.2668 17.2624 14.0586 16.867 13.9242L17.0395 12.5846L15.7425 12.4176L15.57 13.7572C15.1535 13.787 14.7471 13.8958 14.3731 14.0775L13.5292 13.0031L12.4961 13.7866L13.3401 14.861C13.0664 15.1704 12.8564 15.5292 12.7215 15.9176L11.359 15.7422L11.1948 17.0173L12.5573 17.1928C12.5893 17.6098 12.7054 18.0084 12.888 18.3716L11.7995 19.1972L12.6003 20.2168L13.6889 19.3912C14.0046 19.6617 14.3702 19.8699 14.7656 20.0043L14.5931 21.3439L15.8901 21.5109L16.0626 20.1713C16.4792 20.1415 16.8856 20.0327 17.2595 19.851L18.1035 20.9254L19.1365 20.1419L18.2926 19.0675C18.5662 18.7581 18.7763 18.3993 18.9112 18.0109L20.2737 18.1863ZM15.57 18.877C14.4974 18.7389 13.7351 17.7683 13.8708 16.7137C14.0066 15.6592 14.99 14.9134 16.0626 15.0515C17.1352 15.1896 17.8976 16.1602 17.7618 17.2147C17.626 18.2693 16.6426 19.0151 15.57 18.877ZM10.0785 5.20666L12.6725 5.54066L12.5083 6.81584L9.91435 6.48184L10.0785 5.20666Z" fill="#27C353"/>
                    <path d="M4.38146 18.7327L6.35179 3.43047L16.7277 4.76647L15.9888 10.5048L17.2858 10.6718L18.0247 4.93347C18.1152 4.23021 17.6071 3.58338 16.8919 3.49128L6.51598 2.15528C5.80069 2.06318 5.14535 2.5602 5.0548 3.26347L3.08448 18.5657C2.99393 19.269 3.50198 19.9158 4.21727 20.0079L9.40521 20.6759L9.5694 19.4007L4.38146 18.7327Z" fill="#27C353"/>
                    </svg>

                .comeback__item-text сервисное обслуживание

    .comeback__subtitle 
        .comeback__subtitle-icon 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 7.625V19.5C20 20.163 19.7441 20.7989 19.2887 21.2678C18.8332 21.7366 18.2155 22 17.5714 22H16.3571V20.75H17.5714C17.8935 20.75 18.2023 20.6183 18.4301 20.3839C18.6578 20.1495 18.7857 19.8315 18.7857 19.5V7.625H16.3571C15.8741 7.625 15.4108 7.42746 15.0692 7.07583C14.7276 6.72419 14.5357 6.24728 14.5357 5.75V3.25H7.85714C7.53509 3.25 7.22624 3.3817 6.99851 3.61612C6.77079 3.85054 6.64286 4.16848 6.64286 4.5V15.75H5.42857V4.5C5.42857 3.83696 5.68444 3.20107 6.13988 2.73223C6.59533 2.26339 7.21305 2 7.85714 2H14.5357L20 7.625ZM4.94286 16.8125H3V21.8113H3.9605V20.1338H4.93557C5.28407 20.1338 5.58036 20.0625 5.82443 19.9175C6.07093 19.7712 6.25914 19.5737 6.38664 19.325C6.51898 19.064 6.58617 18.7732 6.58214 18.4788C6.58214 18.1663 6.51779 17.8837 6.39029 17.6325C6.26347 17.3827 6.06958 17.1758 5.83171 17.0363C5.58886 16.8863 5.29379 16.8125 4.94286 16.8125ZM5.60464 18.4788C5.60902 18.6434 5.57355 18.8067 5.50143 18.9538C5.43672 19.0818 5.336 19.1868 5.21243 19.255C5.07107 19.327 4.91472 19.3622 4.75707 19.3575H3.95686V17.6H4.75829C5.023 17.6 5.23064 17.675 5.38 17.8263C5.52936 17.9788 5.60464 18.1962 5.60464 18.4788ZM7.08243 16.8125V21.8113H8.85529C9.34221 21.8113 9.74657 21.7113 10.0671 21.515C10.3915 21.3152 10.6449 21.0132 10.7896 20.6538C10.9475 20.2787 11.0276 19.8263 11.0276 19.2987C11.0276 18.7738 10.9487 18.3263 10.7896 17.955C10.6466 17.5996 10.3957 17.3015 10.0744 17.105C9.75386 16.91 9.34707 16.8125 8.85407 16.8125H7.08243ZM8.04293 17.6187H8.72657C9.02771 17.6187 9.273 17.6813 9.46607 17.8088C9.66648 17.9437 9.81767 18.1433 9.89593 18.3762C9.99186 18.6275 10.0392 18.9412 10.0392 19.3175C10.043 19.5668 10.0152 19.8156 9.95664 20.0575C9.91338 20.2483 9.83236 20.4279 9.71864 20.585C9.61299 20.7252 9.47301 20.8339 9.31307 20.9C9.12566 20.9722 8.92662 21.007 8.72657 21.0025H8.04293V17.6187ZM12.588 19.8225V21.8113H11.6287V16.8125H14.7227V17.6287H12.588V19.025H14.5381V19.8225H12.588Z" fill="#27C353"/>
            </svg>
        
        .comeback__subtitle-text <span>+ спец. предложение</span> на строительство
    
    .comeback__get
        form.comeback__form.popup__form
            input(type="hidden", name="form" value="Не спешите уходить, получите бонусы")

            .comeback__form-title Получить информацию:
            input(type="text" placeholder="Введите ваш телефон" name="phone").input.comeback__form-input.mask

            .comeback__form-soc
                .comeback__form-soc-title Куда отправить?
                .comeback__form-soc-btns 
                    label.comeback__form-soc-btn.active
                        input(type="radio", name="soc" value="Whats’app" checked)
                        span Whats’app
                    label.comeback__form-soc-btn
                        input(type="radio", name="soc" value="Telegram")
                        span Telegram
            
            button(type="submit").btn.comeback__form-btn получить бонусы

            .comeback__form-politic Заполняя форму, вы соглашаетесь<br> с <a href="/policy.pdf">политикой конфиденциальности</a>

        .comeback__get-img 
            picture
                source(type="image/webp" data-srcset="img/popups/comeback__get-img.webp" data-sizes="100w")
                img.lazy(data-src="img/popups/comeback__get-img.jpg", alt="")
