- 
    function range(start, end) {
        var arr = [];
        for (var i = start; i < end; i++) arr.push(i);
        return arr;
    };
    //- var works = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39,
    //- 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73 74, 75, 76, 77, 78, 79, 80,
    //- 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
    //- 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133];

.works 
    .container 
        .title.works__title <b>Посмотрите</b> построенные нами дома

    .works__box
        each i in range(1, 197)
            .works__item
                .works__item-wrapper
                    .works__item-img 
                        picture
                            source(type="image/webp" data-srcset="img/works/"+i+".webp" data-sizes="100w")
                            img.lazy(data-src="img/works/"+i+".jpg", alt="" data-fancybox="works")
        //- each img in works
        //-     .works__item
        //-         .works__item-wrapper
        //-             .works__item-img 
        //-                 picture
        //-                     source(type="image/webp" data-srcset="img/works/"+img+".webp" data-sizes="100w")
        //-                     img.lazy(data-src="img/works/"+img+".jpg", alt="" data-fancybox="works")

    .container 
        .btn__center 
            a(offset="8").works__btn-wrapper 
                span.works__btn Посмотреть еще
                <svg width="17" height="9" viewBox="0 0 17 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.82 0.201779L8.49925 7.37468L1.17848 0.201779C1.04768 0.0733642 0.872097 0.00147216 0.689257 0.00147216C0.506418 0.00147216 0.330832 0.0733642 0.200034 0.201779C0.136702 0.264151 0.0863884 0.338597 0.0520402 0.420759C0.0176921 0.502921 0 0.591146 0 0.680267C0 0.769388 0.0176921 0.857613 0.0520402 0.939775C0.0863884 1.02194 0.136702 1.09638 0.200034 1.15875L7.98806 8.79101C8.12482 8.92501 8.30826 9 8.49925 9C8.69024 9 8.87368 8.92501 9.01044 8.79101L16.7985 1.16023C16.8622 1.09781 16.9129 1.02318 16.9476 0.940745C16.9822 0.858311 17 0.769743 17 0.680267C17 0.590791 16.9822 0.502222 16.9476 0.419788C16.9129 0.337354 16.8622 0.262725 16.7985 0.200306C16.6677 0.0718913 16.4921 0 16.3092 0C16.1264 0 15.9508 0.0718913 15.82 0.200306V0.201779Z" fill="#1EAC46"/>
                </svg>
