- 
    var works = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39,
    40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58];

.works 
    .container 
        .title.works__title <b>Посмотрите</b> построенные нами дома

    .works__slider-wrapper
        .works__slider 
            each img in works
                .works__slide 
                    .works__slide-wrapper
                        .works__slide-img 
                            picture
                                source(type="image/webp" data-srcset="img/works/"+img+".webp" data-sizes="100w")
                                img.lazy(data-src="img/works/"+img+".jpg", alt="")
        
        .works__slider-btns 
            .works__slider-btn.prev 
                <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="35" cy="35" r="35" fill="#D9D9D9"/>
                <circle cx="35" cy="35" r="35" fill="url(#paint0_linear_302_1147)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M40.1492 20.3461C40.2589 20.4555 40.3459 20.5855 40.4053 20.7286C40.4647 20.8717 40.4952 21.0251 40.4952 21.18C40.4952 21.335 40.4647 21.4884 40.4053 21.6315C40.3459 21.7746 40.2589 21.9046 40.1492 22.014L26.8456 35.3152L40.1492 48.6164C40.3703 48.8376 40.4946 49.1375 40.4946 49.4503C40.4946 49.7631 40.3703 50.0631 40.1492 50.2843C39.928 50.5055 39.628 50.6298 39.3152 50.6298C39.0024 50.6298 38.7024 50.5055 38.4812 50.2843L24.3461 36.1492C24.2364 36.0397 24.1493 35.9098 24.0899 35.7667C24.0306 35.6235 24 35.4701 24 35.3152C24 35.1603 24.0306 35.0068 24.0899 34.8637C24.1493 34.7206 24.2364 34.5906 24.3461 34.4812L38.4812 20.3461C38.5906 20.2364 38.7206 20.1493 38.8637 20.0899C39.0068 20.0306 39.1603 20 39.3152 20C39.4701 20 39.6235 20.0306 39.7667 20.0899C39.9098 20.1493 40.0397 20.2364 40.1492 20.3461Z" fill="white"/>
                <defs>
                <linearGradient id="paint0_linear_302_1147" x1="35" y1="0" x2="35" y2="70" gradientUnits="userSpaceOnUse">
                <stop stop-color="#41D26A"/>
                <stop offset="1" stop-color="#27AC4C"/>
                </linearGradient>
                </defs>
                </svg>
            .works__slider-btn.next
                <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle r="35" transform="matrix(-1 0 0 1 35 35)" fill="#D9D9D9"/>
                <circle r="35" transform="matrix(-1 0 0 1 35 35)" fill="url(#paint0_linear_302_1150)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M29.8508 20.3461C29.7411 20.4555 29.6541 20.5855 29.5947 20.7286C29.5353 20.8717 29.5048 21.0251 29.5048 21.18C29.5048 21.335 29.5353 21.4884 29.5947 21.6315C29.6541 21.7746 29.7411 21.9046 29.8508 22.014L43.1544 35.3152L29.8508 48.6164C29.6297 48.8376 29.5054 49.1375 29.5054 49.4503C29.5054 49.7631 29.6297 50.0631 29.8508 50.2843C30.072 50.5055 30.372 50.6298 30.6848 50.6298C30.9976 50.6298 31.2976 50.5055 31.5188 50.2843L45.6539 36.1492C45.7636 36.0397 45.8507 35.9098 45.9101 35.7667C45.9694 35.6235 46 35.4701 46 35.3152C46 35.1603 45.9694 35.0068 45.9101 34.8637C45.8507 34.7206 45.7636 34.5906 45.6539 34.4812L31.5188 20.3461C31.4094 20.2364 31.2794 20.1493 31.1363 20.0899C30.9932 20.0306 30.8397 20 30.6848 20C30.5299 20 30.3765 20.0306 30.2333 20.0899C30.0902 20.1493 29.9603 20.2364 29.8508 20.3461Z" fill="white"/>
                <defs>
                <linearGradient id="paint0_linear_302_1150" x1="35" y1="0" x2="35" y2="70" gradientUnits="userSpaceOnUse">
                <stop stop-color="#41D26A"/>
                <stop offset="1" stop-color="#27AC4C"/>
                </linearGradient>
                </defs>
                </svg>

