footer.footer.lazy(data-bg="img/footer.webp", data-bg-fallback="img/footer.jpg")
    .footer__bg 
    
    .container
        .footer__box 
            .logo
                .logo__img
                    img(src="img/logo.svg", alt="")
                .logo__sep 
                .logo__title Каркасные строительные технологии

            .footer__info 
                .soc
                    .soc__title Напишите, мы онлайн:
                    .soc__btns 
                        a(href="#whatsapp", target="_blank", rel="noopener noreferrer").soc__btn 
                            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="19" cy="19" r="19" fill="#4CAF50"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.2317 12.1301C24.4456 10.3398 22.0703 9.35347 19.5397 9.35242C14.3253 9.35242 10.0815 13.601 10.0794 18.823C10.0787 20.4922 10.5142 22.1217 11.3421 23.558L10 28.4659L15.0151 27.1488C16.397 27.9035 17.9527 28.3012 19.5359 28.3017H19.5399C24.7537 28.3017 28.998 24.0527 29 18.8305C29.001 16.2997 28.0179 13.9202 26.2317 12.1301ZM19.5397 26.7021H19.5365C18.1256 26.7016 16.7419 26.3219 15.5344 25.6048L15.2474 25.4342L12.2714 26.2158L13.0658 23.3108L12.8787 23.013C12.0916 21.7596 11.676 20.3109 11.6767 18.8235C11.6783 14.4832 15.2057 10.9521 19.5429 10.9521C21.6431 10.9528 23.6174 11.7726 25.1019 13.2606C26.5864 14.7486 27.4035 16.7265 27.4028 18.83C27.4009 23.1706 23.8737 26.7021 19.5397 26.7021ZM23.8528 20.8063C23.6165 20.6878 22.4542 20.1154 22.2375 20.0363C22.021 19.9574 21.8632 19.918 21.7058 20.1549C21.5481 20.3917 21.0952 20.9248 20.9573 21.0827C20.8193 21.2406 20.6816 21.2604 20.4451 21.1419C20.2087 21.0235 19.4471 20.7735 18.5442 19.9673C17.8415 19.3398 17.3671 18.5648 17.2292 18.328C17.0914 18.0909 17.228 17.9752 17.3329 17.845C17.5888 17.5269 17.845 17.1933 17.9238 17.0355C18.0027 16.8775 17.9632 16.7393 17.904 16.6209C17.845 16.5025 17.3723 15.3376 17.1753 14.8636C16.9833 14.4024 16.7886 14.4647 16.6434 14.4574C16.5057 14.4506 16.348 14.4492 16.1904 14.4492C16.0328 14.4492 15.7767 14.5083 15.56 14.7454C15.3433 14.9823 14.7328 15.5547 14.7328 16.7196C14.7328 17.8844 15.5798 19.0097 15.6979 19.1677C15.8161 19.3256 17.3648 21.716 19.736 22.741C20.2999 22.985 20.7402 23.1305 21.0836 23.2396C21.6499 23.4197 22.165 23.3943 22.5724 23.3334C23.0266 23.2654 23.9708 22.7608 24.168 22.2081C24.3649 21.6552 24.3649 21.1815 24.3057 21.0827C24.2467 20.984 24.0891 20.9248 23.8528 20.8063Z" fill="white"/>
                            </svg>
                        a(href="#viber", target="_blank", rel="noopener noreferrer").soc__btn 
                            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="19" cy="19" r="19" fill="#665CAC"/>
                            <path d="M28.8059 22.0059C29.4243 16.9578 28.5088 13.7708 26.8575 12.3294L26.8584 12.3285C24.1932 9.86692 15.1924 9.50257 12.0038 12.4391C10.5719 13.8755 10.0675 15.9837 10.0123 18.5936C9.95699 21.2043 9.89135 26.0949 14.5904 27.4216H14.5947L14.5904 29.4477C14.5904 29.4477 14.5585 30.2685 15.0991 30.4335C15.7175 30.6278 15.9973 30.2467 17.9206 28.0188C21.1368 28.2893 23.6068 27.6695 23.8875 27.5791C24.5369 27.368 28.2117 26.8964 28.8059 22.0059ZM18.2376 26.5932C18.2376 26.5932 16.202 29.0549 15.5689 29.6939C15.3616 29.9017 15.1345 29.8824 15.138 29.4703C15.138 29.1998 15.1535 26.1066 15.1535 26.1066C11.1695 24.9993 11.4044 20.8349 11.4476 18.6564C11.4908 16.477 11.9019 14.6922 13.1145 13.4903C15.9118 10.9465 23.8029 11.5153 25.8134 13.3479C28.2713 15.4611 27.3965 21.4313 27.4016 21.6348C26.8964 25.7171 23.9186 25.976 23.371 26.1527C23.137 26.2281 20.9649 26.77 18.2376 26.5932Z" fill="white"/>
                            <path d="M19.3637 13.9685C19.0312 13.9685 19.0312 14.4711 19.3637 14.4752C21.9434 14.4945 24.068 16.2383 24.0913 19.437C24.0913 19.7746 24.6008 19.7704 24.5965 19.4328H24.5956C24.568 15.9862 22.2483 13.9878 19.3637 13.9685Z" fill="white"/>
                            <path d="M22.757 18.9068C22.7492 19.2402 23.2579 19.2561 23.2622 18.9185C23.3045 17.0181 22.0963 15.4527 19.8258 15.2877C19.4933 15.2642 19.4587 15.7709 19.7903 15.7944C21.7594 15.9393 22.7967 17.2426 22.757 18.9068Z" fill="white"/>
                            <path d="M22.2128 21.0686C21.7862 20.8291 21.3518 20.9781 21.1722 21.2135L20.7965 21.6851C20.60561 21.9246 20.2489 21.8928 20.2489 21.8928C17.6459 21.2252 16.9498 18.5835 16.9498 18.5835C16.9498 18.5835 16.9179 18.2259 17.1562 18.0341L17.6261 17.6572C17.861 17.4763 18.0095 17.0407 17.7703 16.6127C17.1312 15.4929 16.702 15.1068 16.4835 14.8103C16.2537 14.5313 15.9083 14.4685 15.549 14.657H15.5412C14.7942 15.0808 13.9763 15.874 14.238 16.6906C14.6845 17.5516 15.505 20.2964 18.1201 22.3702C19.349 23.351 21.2939 24.3561 22.1196 24.5881L22.1273 24.5998C22.9409 24.8628 23.732 24.0386 24.1543 23.2924V23.2865C24.3417 22.9255 24.2795 22.5838 24.0058 22.3601C23.5204 21.9011 22.788 21.3944 22.2128 21.0686Z" fill="white"/>
                            <path d="M20.1816 17.1571C21.0115 17.204 21.414 17.6245 21.4572 18.488C21.4727 18.8256 21.978 18.8021 21.9624 18.4646C21.9071 17.3372 21.3009 16.709 20.2092 16.6504C19.8767 16.6311 19.8456 17.1378 20.1816 17.1571Z" fill="white"/>
                            </svg>
                        a(href="#tg", target="_blank", rel="noopener noreferrer").soc__btn 
                            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="19" cy="19" r="19" fill="#41B4E6"/>
                            <path d="M16.0631 22.3154L15.7653 26.5284C16.1913 26.5284 16.3758 26.3443 16.5971 26.1233L18.5944 24.2031L22.733 27.252C23.492 27.6775 24.0267 27.4534 24.2315 26.5495L26.9481 13.7446L26.9488 13.7438C27.1896 12.6151 26.5431 12.1737 25.8035 12.4506L9.83565 18.6004C8.74588 19.0259 8.76238 19.637 9.6504 19.9139L13.7327 21.1913L23.2152 15.2226C23.6615 14.9253 24.0672 15.0898 23.7335 15.3871L16.0631 22.3154Z" fill="white"/>
                            </svg>
                .connect 
                    a(href="tel:+79876543210").connect__phone 8 987 654 32 10
                    a(href="#call" data-fancybox).connect__call Заказать бесплатный звонок
                
                    a(href="/politic.pdf" target="_blank").footer__politic Политика конфиденциальности