mixin head(title)
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, maximum-scale=1.0")
    title= title
    link(rel="icon", href="img/icons/favicon.svg")
    link(rel='stylesheet', href='css/main.min.css?v=1.24')