@use "sass:map";
@import "normalize.css/normalize";

// @include focus-visible;

// button:focus {
//   box-shadow: 0 0 0 10px red;
// }

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    height: 100%;

    font-size: 16px;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    min-height: 100vh;

    font-family: "MuseoSansCyrl", sans-serif;
}

img,
svg,
source {
    width: 100%;
    height: auto;

    vertical-align: middle;
}

video {
    vertical-align: middle;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 0 10px;
    margin: auto;
}

button {
    border: none;
}

.btn__center {
    text-align: center;
}

.btn {
    background: map.get($theme-colors, "green_btn");
    border-radius: 200px;
    font-family: "Oswald";
    font-weight: 300;
    font-size: 19px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 29px;
    padding: 15px 24px;
    display: inline-block;
    box-shadow: map.get($theme-colors, "green_btn_shadow");
    cursor: pointer;
    user-select: none;
}

input {
    outline: none;
    border: none;
}

.input {
    background: #f0f0f0;
    border-radius: 120px;
    padding: 20px 30px;
    color: map.get($theme-colors, "gray");
    font-weight: 400;
    font-size: 13.9556px;
    line-height: 130%;
    width: 100%;
}

.title {
    font-weight: 400;
    font-size: 26.2154px;
    line-height: 130%;
    color: map.get($theme-colors, "gray");
    text-align: center;
    text-transform: uppercase;
    user-select: none;

    @media screen and (max-width: 670px) {
        font-size: 22px;
    }

    b {
        font-weight: 900;
    }
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: map.get($theme-colors, "gray");
    margin-top: 10px;
    user-select: none;
}

label,
button {
    cursor: pointer;
    user-select: none;
}
